<% @comedians.each do |comedian| %>
  <ul>
    <li>Name: <%= comedian.name %></li>
    <li>Age: <%= comedian.age %></li>
    <li>Specials: <%= comedian.special.name if comedian.special %></li>
    <!-- <li>AveAge: <%= comedian.average_age %></li> -->
  </ul>
<% end %>
