<h1>Comedians</h1>
<div>
  <% @comedians.each do |comedian| %>
    <p> <%= comedian.name %> </p>
    <p> Age: <%= comedian.age %> </p>
    <% comedian.specials.each do |special|%>
      <p> <%= "#{special.name}"%> </p>
    <% end %>
  <% end %>
  <p>Average Age: <%= @avg_age  %>
</div>
