<h1>Comedians</h1>
<% @comedians.each do |comedian| %>
  <ul>
    <li> Name: <%= comedian.name %> </li>
    <li> Age: <%= comedian.age %> </li>
    <li> Specials: <% @specials.find_all do |special|
      <%= special.comedian_id == "#{comedian}.id"%>  %> </li>
    <% end %>
  </ul>
<% end %>
