<% @comedians.each do |comedian| %>
<ul>
  <li> Name: <%= comedian.name %></li>
  <li> Age: <%= comedian.age %></li>
  <li>Special: <%= comedian.specials.name if comedian.specials %></li>
</ul>
<% end %>
<h1> <%= Comedian.average_age %></h1>
