<% @comedians.each do |comedian| %>
  <% if comedian.age = @age %>
    <ul>
        <li><%= * Name <%= comedian.name %></li>
        <li><%= * Age <%= comedian.age %></li>
    </ul>
  <% end %>
<% end %>
