<% @comedians.each do |comedian| %>
  <ul>
    <li>Name: <%= comedian.name %></li>
    <li>Age: <%= comedian.age %></li>
    <li>Specials: <%= comedian.specials.map { |special| special.name }.join(', ') %></li>
  </ul>
<% end %>
