<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Comedians</title>
</head>

<body>
  <% @comedians.each do |comedian| %>
    <ul>
      <li><%= comedian.name %></li>
    </ul>
  <% end %>
</body>
</html>
